<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weed</title>
</head>
<body th:data-name="${weedBySearch.name}">
<div style="text-align: left" th:each="weed: ${weedBySearch}">
    <p><span th:utext="${weed.name}"></span>    <span th:utext="${weed.race}"></span> <span th:utext="${weed.id}"></span></p>
    <!-- Verlinkt auf die WeedByFlavor View -->
    <p>Flavors: <span th:class="tag" th:each="flavors: ${weed.flavors}" th:data-flavor="${flavors}" th:onclick="|getWeedByFlavor(this.getAttribute('data-flavor'))|"> <span th:utext="${flavors}"></span></span></p>
    <p th:utext="${weed.desc}"></p>
    <p>Effects:</p>
    <!-- Verlinkt auf WeedByEffect View -->
    <p>Positive: <span th:class="tag" th:each="positive: ${weed.effects.positive}" th:data-effect="${positive}" th:onclick="|getWeedByEffect(this.getAttribute('data-effect'))|"> <span th:utext="${positive}"></span></span></p>
    <p>Negative: <span th:class="tag" th:each="negative: ${weed.effects.negative}" th:data-effect="${negative}" th:onclick="|getWeedByEffect(this.getAttribute('data-effect'))|"> <span th:utext="${negative}"></span></span></p>
    <p>Medical: <span th:class="tag" th:each="medical: ${weed.effects.medical}" th:data-effect="${medical}" th:onclick="|getWeedByEffect(this.getAttribute('data-effect'))|"> <span th:utext="${medical}"></span></span></p>

    <p th:if="${session.isEmpty()}"> Pleas Log in to comment</p>
    <div th:unless="${session.isEmpty()}">
        Title: <input id="commentTitle" type="text" name="title"><br>
        Text: <textarea id="commentBody" type="text" name="body"></textarea> </br>
    <button th:data-userId="${session.id}" th:data-author="${session.name}" th:data-weedId="${weed.id}" th:data-name="${weed.name}" th:onclick="|sendPost(this.getAttribute('data-weedId'),this.getAttribute('data-name'),this.getAttribute('data-author'), this.getAttribute('data-userId'))|">save</button>
    </div>

    <main th:fragment="PostsBlock" id="post">
        <article th:id="${p.postId}" th:each="p : ${allPost}" th:class="comment-block">
            <h2 class="Post" th:text="${p.title}" >Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}" ></span>
                 <i>by</i>
                <span th:text="${p.author}"></span>
                </span>
            </div>
            <div><p class="content" th:utext="${p.body}">Post content</p></div>
            <br>
            <button th:if="${not session.isEmpty()} and ${p.userId} == ${session.id}" th:data-postId="${p.postId}" th:onclick="|editComment1(this.getAttribute('data-postId'),this.getAttribute('data-name'))|"> Edit Comment</button>
            <button th:if="${not session.isEmpty()} and ${p.userId} == ${session.id}" th:data-postId="${p.postId}" th:onclick="|sendCommentDelete(this.getAttribute('data-name'), this.getAttribute('data-postId'))|">Delete Comment</button>
        </article></main>
</div>
</body>
</html>