<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Weed</title>
  <script type="text/javascript" src="/static/js.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/table.css">
</head>

<body>
  <button th:onclick="|getNameView()|" class="header-button">Name</button>
  <button th:onclick="|getEffects()|" class="header-button">Effect</button>
  <button th:onclick="|getFlavor()|" class="header-button">Flavor</button>
  <button th:onclick="|getSpecies()|" class="header-button">Species</button>
  <button th:onclick="|getLoginView()|" th:if="${session.isEmpty()}" class="header-button login-button" id="LoginButton"> Login</button>
  <button th:unless="${session.isEmpty()}" th:onclick="sendLogout()" class="header-button login-button" id="LogoutButton"> Logout</button>

  <div id="content"></div>
  </div>
  <div class="banner">
    <div class="randomtext">
      <h1> We believe that there are no Data you should be ashamed of...</h1>

      You can use this Website to find your favourite plant.<br>
      You will never find it on the Internet.<br>
      Use "Name" to find your plant by name.<br>
      Use "Effect" if you want to feel something special.<br>
      Use "Flavor" to look for something tasty. <br>
      Use "Species" to find new plants by species. <br>
      Use our website responsible :) <br>

      </p>


    </div>
    <img class="pic" src="jpg/img2.jpg" alt="Selfsame">
</body>
<footer class="footer">
  <p>Created by our little group</p>
  <p>It might be interesting: <a href=/static> Static Webpage</a> </p> </footer> </html>