<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weed</title>
    <script type="text/javascript" src="/javascript/js.js"></script>
</head>
<body>
<button th:onclick="|getNameView()|">Name</button>
<button th:onclick="|getEffects()|">Effect</button>
<button th:onclick="|getFlavor()|">Flavor</button>
<button th:onclick="|getSpecies()|">Species</button>
<button th:onclick="|getLoginView()|">Login</button>


<div id="content"></div>


</body>
</html>