<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <title>Info</title>
</head>
<body class="body">

<div>
    <h1 class="love ">Love is...</h1>
    <ul class="lists">
    <li>“I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.”
        ― Marilyn Monroe</li>
    <li>“Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.”
        ― Lao Tzu</li>
    <li>“Love looks not with the eyes, but with the mind,
        And therefore is winged Cupid painted blind.”
        ― William Shakespeare, A Midsummer Night's Dream </li>
</ul>
   </div>
<div class="banner">
    <div class="randomtext">
        <h1>“The true revolutionary is guided by great feelings of love.”</h1>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

    </div>

</div>
<table class="rp">
    <tr>
        <td rowspan="2">There is 2 Types of tables...</td>
        <td class="love">rowspan</td>
    </tr>
    <tr>
        <td>colspan</td>
    </tr>
</table>

<table class="cp">
    <tr>
        <th>Part</th>
        <th>Mark</th>
    </tr>
    <tr>
        <td>Part A</td>
        <td>1,0</td>
    </tr>
    <tr>
        <td>Part B</td>
        <td>1,0</td>
    </tr>
    <tr>
        <td colspan="2">Mark: 1,0</td>
    </tr>
</table>
</body>
<footer class="footer">
    <p>Bring me back: <a href=http://127.0.0.1:8080>
        Homepage</a></p>
</footer>
</html>